<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular Interview</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="styles.less" rel="stylesheet/less" type="text/css" />
</head>
<body >
    
    <!-- YOUR CODE STARTS HERE -->
        <div ng-controller="namesController">
            <div class="row">
                <input type="text" ng-model="newName"/><button ng-click="addName()">Add Name</button>
            </div>
            <name-tag ng-repeat="name in names" ></name-tag>
        </div>
    <!-- YOUE CODE ENDS HERE -->

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/less/dist/less.min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>    
    <script src="app.js"></script>
</body>
</html>
